


/* navbar section starts */
*{
    font-family: 'poppins',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #a3b6a1;                          
}

.header{
    height: 60px;
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 7%;
    background:#c7fcd4;
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(101, 38, 202);

}
.header .logo i{
    color: rgb(240, 82, 9);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: rgb(13, 16, 187);}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius:  .5rem;
    background: #94e3ee;
    color: var(--black);
    font-size: 2rem;
    margin-right:  .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background :rgb(154, 223, 51) ;
    color: #fff;
}

.header .search-form{
    position: absolute;
    top: 110%; right: -110%;
    width: 50rem;
    height: 5rem;
    background: #ebeeeb;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background:none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color:rgb(154, 223, 51) ;
}   
 
img{ max-width: 100%; max-height: 100%;}    
 .picture1{  height: 120px; width: 150px; }


.header .shopping-cart{
    position: absolute;
    top: 110%; right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #ebeeeb;
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
    height: 10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%; right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
    color:rgb(154, 223, 51);
}

.header .shopping-cart .box .content h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem 0;
}


/* navbar section ends */

/* home section starts  */

.container{
    max-width: 100%;
    min-height: 100%;
}
.img1{
    opacity: 1.0;
    width: 600cm;
}
.carousel-item{
    width:35cm ;
    height: 93vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover ;
    background-size: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;

}
.carousel-caption h5{
    color:#bcdb08;
    font-size: 45px;
    font-weight: 700;

}
.carousel-caption p{
    color: #610beb;
    font-size: 20px;
    top:2rem;

}

.slider-btn .btn{
    background-color: #c02ab9;
    columns: white;
    border-radius: 0;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;
}
.slider-btn .btn-2{
    color: #111010;
    background-color: #e1ecee;
}


/* home section ends  */


/* jumbotron sections starts */

.jumbo{
    text-align : center;
    height: 5cm;
}
#title{
    color: rgb(101,38,202);
    font-weight: bold;
}

.btn-primary{
    border-radius: 9%;
    background: #ce3ca2;
    width: 135px;
}
.btn:hover{
    
    background-color:rgb(154, 223, 51);
}

p{
    font-weight: bold;
    font-style:italic;
    font-size: 15px;
    color: rgb(202, 104, 38);
}
.lead{
    font-size: 20px;
}
.card-body{
    text-align: center;
    padding-bottom: 0;
}

/* jumbotron sections ends */

/* card section starts */

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius:  .7rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background:#94e3ee;

}

.btn:hover{
    background: rgb(154, 223, 51);
    color: #140f0f;
}

.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap:1.5rem;
   padding: 10%;
   padding-bottom: 2%;
   padding-top: 3%;
   padding-left: 12%;
   background: #f0d7a5;
}

.features .box-container .box{
  
    background:#f5f4f1;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    height:380px ;
    width:320px ;
    padding: 8rem 10;

}

.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0;
}

.features .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box  h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: rgb(214, 18, 27);
    font-weight: bold;
}

.features .box-container .box  p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;

}

/* card section ends */

/* form section starts */

.container3{
    padding-left: 32%;
    font-size: 1.5rem;
    line-height: 1.8;
    max-width: 60%;
    max-height: 40%;

}
/* form section ends  */

/* footer section starts */




.footer{
    opacity: 2.8;
    text-align: center;
    padding-bottom: 15px;
    /* background:#66bb7b; */
    background: #fff;
 }

 .footer .box-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap:1.2rem;
 }

 .footer .box-container .box h3{
    color: rgb(101, 38, 202);;
    font-size: 3.0rem;
    padding: 1rem 0;
 }

 .footer .box-container .box h3 i{
    color: rgb(240, 82, 9);
}

.footer .box-container .box  .links{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
    
 }

 .footer .box-container .box .links i{
    color: var(--orange);
    padding-right: .5rem;
 }

 .footer .box-container .box .links:hover i{
    padding-right: 2rem;
 }
 

 .footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.9rem;
    color: var(--light-color);
 }

 .footer .box-container .box  .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
 }

 .footer .box-container .box  .share a:hover{
    background:rgb(154, 223, 51); 
    color: #fff;
 }
 .footer .credit{
    text-align: center;
    font-size: 2rem;
    color: var(--black);

 }

 .footer .credit span{

color:  rgb(240, 82, 9);
 }

 /* footer section ends  */
